.main{
    background-image: url(../img/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes{
    padding-right: 60px;
    height: 150px;
    width: 550px;
}

.informacoes .titulo{
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 11px;
    color: aliceblue;
}
.informacoes .texto{
    font-size: 2rem;
    font-weight: 400;
    color: aliceblue;
}

.formulario{
    width: 540px;
    height: 678px;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.formulario .name{
    padding: 10px;
    border-radius: 5px;
}

.formulario .email{
    padding: 10px;
    border-radius: 5px;
}

.formulario .telefone{
    padding: 10px;
    border-radius: 5px;
}

.formulario .mensagem{
    padding: 10px;
    height: 300px;
    border-radius: 5px;
    resize: none;
}

.formulario .texto{
    font-weight: 400;
    font-size: 1.5rem;
}

.formulario .btn-enviar{
    margin-top: 20px;
    border-radius: 5px ;
    padding: 12px;
    background-color: #3CCC87;
}

.formulario .btn-enviar .texto{
    font-size: 2rem;
    font-weight: 700;
    color: aliceblue;
}